:root {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

body {
  padding: 0 1rem;
}

body article {
  max-width: 50rem;
}

header {
  display: flex;
  flex-direction: row;
}

nav {
  font-size: 1.2rem;
  ul {
    padding-left: 1rem;
    list-style-type: none;
    li {
      display: inline;
      float: left;
      padding-left: 1rem;
      a:visited {
        color: blue;
      }
    }
  }
}

.logo-main {
  width: 4rem;
  padding-top: 0.6rem;
  flex-shrink: 0;
}

.logo-main a svg {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.two-halves {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  article {
    width: 100%;
  }
}

.mainpage-latest {
  margin-left: 1rem;
  width: 100%;
  h1 {
    font-size: 1.5em;
  }
}

.post {
  border-top: 1px solid grey;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  em {
    color: grey;
    float: right;
    margin-left: 1rem;
  }
  h3 {
    display: inline;
  }
  p {
    margin: 0.6rem 0 0 0;
  }
  p.date {
    color: grey;
    font-style: italic;
  }
}

.post:last-child {
  border-bottom: 1px solid grey;
}

footer {
  margin-top: 1rem;
}

@media (max-width: 640px) {
  body {
    padding: 0 0.3rem;
  }
  .two-halves {
    flex-direction: column;
  }
  .mainpage-latest {
    margin-left: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222222;
    color: white;
  }
  .logo-main svg {
    background-color: white;
    padding: 4px;
  }
  a {
    color: rgb(138, 138, 244);
    font-weight: bold;
  }
  nav ul li a:visited {
    color: rgb(138, 138, 244);
  }
}

/* Make windows render flag emojis */
@font-face {
  font-family: "Twemoji Country Flags";
  unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067,
    U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
  src: url("https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2")
    format("woff2");
}

.win {
  font-family: "Twemoji Country Flags", "Roboto Mono", monospace;
}
